@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  background: #dbdbdb;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
  font-size: 12px;
  color: #000000;
  display: block;
  text-align: center;
  margin-top: 20px;
}

hr {
  display: block;
  margin-bottom: 10px;
  border: none;
  background: rgb(226, 226, 226);
  height: 2px;
  border-bottom: 2px solid rgb(255, 255, 255);
}

h3 {
  display: block;
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}

.main-blk {
  width: 500px;
  margin: 0 auto;
}

.user-card-blk {
  background: rgb(226, 226, 226);
  display: block;
  padding: 10px;
  margin-top: 10px;
}

.main-blk h1 {
  text-align: center;
}

.main-blk h2 {
  display: block;
  color: #da291c;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.registration-blk {
  background: #f6f6f6;
  box-shadow: 0px 0px 8px #c5c5c5;
  padding: 20px;
  margin-top: 150px;
}

.registration-blk input {
  display: block;
  width: 100%;
  padding: 10px;
  font-family: inherit;
  border: none;
  margin-bottom: 10px;
}

.registration-blk button {
  display: block;
  width: 100%;
  padding: 10px;
  font-family: inherit;
  border: none;
  background: #da291c;
  color: #fff;
  letter-spacing: 1px;
  margin-top: 15px;
  cursor: pointer;
}
